/*
====================================================
Make it easy!
====================================================
*/

/* === vendored === */

//mixin
@mixin vendored($tag,$value){
    -webkit-#{$tag}: $value;
    -moz-#{$tag}: $value;
    -ms-#{$tag}: $value;
    -o-#{$tag}: $value;
    #{$tag}: $value;
}

//usage
.test {
    @include vendored(transition, 320ms ease)
}

//output
.test {
  -webkit-transition: 320ms ease;
  -moz-transition: 320ms ease;
  -ms-transition: 320ms ease;
  -o-transition: 320ms ease;
  transition: 320ms ease; }
