/*
====================================================
Make it easy!
====================================================
*/

//import files
@import 'partials/reset';
@import 'partials/mixins';

//variables
$primary-color: #000;


/* === vendored === */

//mixin
@mixin vendored($tag,$value){
    -webkit-#{$tag}: $value;
    -moz-#{$tag}: $value;
    -ms-#{$tag}: $value;
    -o-#{$tag}: $value;
    #{$tag}: $value;
}

//usage
.test {
    @include vendored(transition, 320ms ease)
}

//output
.test {
  -webkit-transition: 320ms ease;
  -moz-transition: 320ms ease;
  -ms-transition: 320ms ease;
  -o-transition: 320ms ease;
  transition: 320ms ease; }


/* === nested  === */

//scss
a {
    font-family: sans-serif;
    color: $primary-color;
    &:hover,
    &:focus,
    &:active { color: blue; }
    &.link-class { color: green;
        &:hover,
        &:focus,
        &:active { color: black; }        
    }
}

//output
a {
  font-family: sans-serif;
  color: #000; }
  a:hover, a:focus, a:active {
    color: blue; }
  a.link-class {
    color: green; }
    a.link-class:hover, a.link-class:focus, a.link-class:active {
      color: black; }